{% load static %}

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="Alejandro Ferran, Abel Esteves"> 
        <title>{% block title%} {%endblock%}</title>

        <!-- Estilos CSS-->
        {% block styles%} {%endblock%}

        <!-- Archivos de Javascript-->
        {% block scripts%}{%endblock%}
    </head>
    <body>
    {%block contenido%}{%endblock%}
    </body>

</html>