{% load static %}

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="Alejandro Ferran, Abel Esteves"> 
        <title>{% block title%} {%endblock%}</title>

        <!-- Estilos CSS-->
        {% block styles%} 
        <link href="{%static 'css/base/base.css'%}" rel="stylesheet">
        <link href="{%static 'assets/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
        {%endblock%}

        <!-- Archivos de Javascript-->
        {% block scripts%}
        <script src="{%static 'assets/bootstrap/js/bootstrap.min.js'%}"></script>
        <script src="{%static 'assets/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
        {%endblock%}
    </head>
    <body>
    
        {% block contenido %}   
        {% endblock contenido %}
            
        {% block footer %}   
        {% endblock footer %}
            
    </body>

</html>