{% extends 'admin/change_list.html' %}
{% load static %}
 

{% block extrastyle %}
    <link href="{%static 'css/reconocimiento_facial/admin_style/admin.css'%}" rel="stylesheet">
    {{ block.super }}
{% endblock %}
    

{% block object-tools %}
    <!-- Actualizar datos en tabla de admin-->
    <div>
        <table>
            <tr>
                <form action="refrescar_tabla/" method="POST" style="width: 10%;">
                    {% csrf_token %}
                    <button type="submit" class="boton">Actualizar Datos </button>
                </form>        
            </tr>
            <tr>
                <form action="preentrenamiento/" method="POST" style="width: 10%;">
                    {% csrf_token %}
                    <button class="boton" type="submit">Entrenar modelo con todos</button>
                </form> 
            </tr>
        </table>
    </div>


    <br />
    {{ block.super }}
{% endblock %}