{% extends 'admin/base_site.html '%}
{% load static %}

{% block extrastyle %}
    <link href="{%static 'css/reconocimiento_facial/admin_style/admin.css'%}" rel="stylesheet">
    {{ block.super }}
{% endblock %}
    

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Entrenar modelo') }}{% endblock %}

{% block branding %}
    <h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Citmatel_Admin') }}</a></h1>
{% endblock %}


{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="/admin/">Inicio</a>
        › <a href="/admin/reconocimiento_facial/">Reconocimiento_Facial</a>
        › <a href="/admin/reconocimiento_facial/persona/">Trabajadores</a>
        › Entrenamiento de modelo
    </div>
{% endblock %}


{% block content %}
    <a href="{% url 'reconocimiento_facial:entrenar_modelo' %}"><button type="submit" class="boton">Entrenar_Modelo</button></a>
    

    {% if model_Persona%}
        {% for persona in model_Persona %}
            <h5>{{persona.nombre}}</h5>
        {% endfor %}
    {% endif %}

    {% if estado %}
        <h5>{{estado}}</h5>
    {% endif %}
     
{% endblock %}

